<div id="bodyContent">
<img src="/images/NerdHaiku.jpg" height='150' widht='100'><span class="title">Leet Geek Haikus</span>
<br><br>
<table>
 <!-- <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->

<% @haikus.each do |haiku| %>
 <!-- <tr>
    <td><%= haiku.title %></td>
    <td><%= haiku.body %></td>
    <td><%= haiku.date %></td>
    <td><%= haiku.user %></td>
    <td><%= link_to 'Show', haiku %></td>
    <td><%= link_to 'Edit', edit_haiku_path(haiku) %></td>
    <td><%= link_to 'Destroy', haiku, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>-->

<table class="haikuPost">
  <tr>
    <td colspan="2"class="borders"><img src="/images/LeftCorner.png"/></td>
    <td class="text">Title:<%= haiku.title %></td>
    <td class="borders"><img src="/images/RightCorner.png"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
	<td><img src="/images/great_wave_small.png"></td>
    <td class="haikubody"><%= haiku.body %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td class="text">Author:<%=haiku.user%></td>
	<td>&nbsp;</td>
  </tr>
  <tr>
	  <td colspan="2"><img src="/images/LeftBottomCorner.png"/></td>
	 <td><%= link_to 'Show', haiku %> | <%= link_to 'Destroy', haiku, :confirm => 'Are you sure?', :method => :delete %> </td>
     <td><img src="/images/RightBottomCorner.png"/></td>
  </tr>
</table>
<% end %>
</table>

<br />

<%= link_to 'New Haiku', new_haiku_path %>
</div>